html[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #303133;
  --box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --border-color: #e4e7ed;
}
html[data-theme='dark'] {
  --bg-color: #141414;
  --text-color: #e5eaf3;
  --box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --border-color: #4c4d4f;
}

// View Transitions API 动画效果
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

html[data-theme='dark']::view-transition-old(root) {
  z-index: 100;
}